:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}
.field-spacing {
  margin-bottom: 1rem; /* Adjust the spacing as needed */
}

body {
  background-color: #f7f7f7b;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background: #000;
  color: #fff;
}

.navbar a {
  color: #fff;
}

.navbar button,
.guest button {
  border: 0;
  border-radius: 5px;
  background: rebeccapurple;
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.navbar button:hover {
  opacity: 0.9;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar .cl-button {
  background: transparent;
  border: 0;
}


label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}


.loanlist {
  padding-left: 20px; 
  margin-top: 10px; 
}

.loanlist-item {
  background-color: #f8f9fa; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 10px; 
}

.loanlist-title {
  font-weight: bold; 
}